{% extends 'admin12/index2.html' %}

{% block body_block %}
<style>
    .date
    {
        float: right;
    }
    input[type=submit]:hover
    {
        background-color: lightblue;
    }
    
</style>
<div class="page-content">
    <div class="ssss">
        <h6>search razorpay or bhim app email id enter to get details</h6><br>
            <form  action="/razorpay_search_date/" method="POST">
                {% csrf_token %}
                Enter MAil_ID:<br>
                <input type="text" name="e1" placeholder="enter register mail id here...">
                <input type="submit" value="submit"> 
        
            </form>
    </div>
    <div class="date">
    <form method="POST" action="/admin_search_date/">
        {% csrf_token %}
        Search Date:<br>
        <input type="date" name="d1" required>
        <input type="submit"  value="search">
    </form>
    </div><br><br>
    <h3>Student Profiles</h3> <br><br>
        <div class="table-responsive">          
            <table class="table table-hover table-bordered">
                <tr>
                       <th>Date</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Date_of_Birth</th>
                        <th>Board</th>
                        <th>FatherName</th>
                        <th>MotherName</th>
                        <th>Qualifiaction</th>
                        <th>SchoolName</th>
                        <th>SchoolAddress</th>
                        <th>HomeAddress</th>
                        <th>State</th>
                        <th>AadharNumber</th>
                        <th>PhoneNumber</th>
                        <th>EmailId</th>
                        
                        <td>Referral</td>
                        <th>Username</th>
                
                        <th>Action</th>
                        <th>Status</th>
                        <th>Email</th>
                        <th>Sent</th>

                </tr>
                {% for b in disp %}
                <tr>   <td>{{b.date}}</td>
                        <td>{{ b.firstName }}</td>
                        <td>{{ b.lastName }}</td>
                        <td>{{ b.date_of_birth }}</td>
                        <td>{{ b.board }}</td>
                        <td>{{ b.fatherName }}</td>
                        <td>{{ b.motherName }}</td>
                        <td>{{ b.qualification }}</td>
                        <td>{{ b.schoolName }}</td>
                        <td>{{ b.schoolAddress }}</td>
                        <td>{{ b.homeAddress }}</td>
                        <td>{{ b.state }}</td>
                        <td>{{ b.aadharNumber }}</td>
                        <td>{{ b.phoneNumber }}</td>
                        <td>{{ b.emailID }}</td>
                        <td>{{b.referral}}</td>
                        <td>{{ b.username }}</td>
                
                
                        <td><a href="/stuedit/{{ b.id }}">Edit</a> &nbsp;&nbsp; <a href="/delete/{{b.id}}">Delete</a></td>
                            <!-- <a href="/studelete/{{ b.id }}">Delete</a> </td> -->
                             <!-- <a href="/delete/{{ b.id }}" onclick="window.open('applicationdelete.html', 'yourWindowName', 'width=200,height=150');">Delete</a> -->
                           
                        <td>{{ b.status }}</td>
                        <td><a href="/mail_sent/{{ b.id }}">send</a></td>
                        <td>{{b.mail_sent}}</td>
                </tr>
                {% endfor %}
               
            </table>
        </div>
        <br><br>
        <a href="/offline_register">New Record Add Offline</a>
    </div>



{% endblock %}