{% extends 'best/base.html' %}
{% load staticfiles %}
{% block body_block %}
<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url({% static 'images/resources/breadcrumb-bg.jpg' %});">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>About</h1>
	            </div>
	        </div>
	    </div>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->     
<section class="breadcrumb-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="left pull-left">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li class="active">About</li>
                    </ul>
                </div>
                <!--<div class="right pull-right">-->
                <!--    <a href="#">-->
                <!--        <span><i class="fa fa-share-alt" aria-hidden="true"></i>Share</span> -->
                <!--    </a>   -->
                <!--</div>    -->
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start welcome area--> 
<section class="welcome-area-v2">
    <div class="container inner-content">
        <div class="row">
            <div class="col-md-8">
                <div class="text-holder">
                    <div class="sec-title">
                        <h1>Welcome To BEST</h1>
                        <span class="border"></span>
                        <p style="text-align:justify" class="bottom">BHARAT EXCELLENCE SCHOLARSHIP TEST here in referred as BEST which is an online scholarship test, conducted by Avira Foundation in order to bring out hidden talent in students.BEST honours and supports the talented students across India which will be the way for their higher education. </p>
                    </div>
                    <div class="row">
                        <!--Start single item-->
                        <div class="col-md-4">
                            <div class="single-item">
                                <div class="iocn">
                                    <span class="flaticon-teeth-cleaning"></span>
                                </div>
                                <div class="text">
                                    <h3>WHO WE ARE</h3>
                                    <p style="text-align:justify">Main objective of the scholarship test is to identify students with potential to study and support them with cash rewards.Students from 6th to 10th class with any board can apply for the BEST.</p>
                                    <!--<a href="#">READ MORE<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>-->
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="col-md-4">
                            <div class="single-item">
                                <div class="iocn">
                                    <span class="flaticon-paint-brush"></span>
                                </div>
                                <div class="text">
                                    <h3>OUR MISSION</h3>
                                    <p style="text-align:justify">Promote and provide financial support for students education and welfare we inspire and enable a better growth of student's through our scholarship programme.</p>
                                    <!--<a href="#">READ MORE<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>-->
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="col-md-4">
                            <div class="single-item">
                                <div class="iocn">
                                    <span class="flaticon-spray"></span>
                                </div>
                                <div class="text">
                                    <h3>OUR VISION</h3>
                                    <p style="text-align:justify">To build a vibrant and supportive community of scholars by markedly expanding opportunities to connect and explore Ideas.</p>
                                    <!--<a href="#">READ MORE<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>-->
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-holder wow slideInRight">
                    <img src="{% static 'images/about/welcome.png' %}" alt="Awesome Image">
                </div>
            </div>    
        </div>
    </div>
</section> 
<!--End welcome area-->  

<!--Start fact counter area-->
<section class="fact-counter-area" style="background-image:url({% static 'images/resources/fact-counter-bg.jpg' %});">
    <div class="container">
        <div class="row">
            <!--Start single item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <h1><span class="timer" data-from="1" data-to="5" data-speed="3000" data-refresh-interval="5">5</span></h1>
                    <span class="border"></span>
                    <h3>Rating</h3>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <h1><span class="timer" data-from="1" data-to="146" data-speed="2000" data-refresh-interval="10">146</span></h1>
                    <span class="border"></span>
                    <h3>Happy Students</h3>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <h1><span class="timer" data-from="1" data-to="280" data-speed="5000" data-refresh-interval="50">280</span></h1>
                    <span class="border"></span>
                    <h3>Happy Parents</h3>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <h1><span class="timer" data-from="1" data-to="853" data-speed="5000" data-refresh-interval="50">853</span></h1>
                    <span class="border"></span>
                    <h3>Mail Conversations</h3>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>
</section>
<!--End fact counter area-->

<!--Start testimonial area--> 
<section class="testimonial-area">
    <div class="container">
        <div class="sec-title text-center">
            <p class="top">Testimonials</p>
            <h1>What Clients Says</h1>   
            <span class="border mar0auto"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonials-carousel">
                    <!--Start single testimonial item-->
                    <div class="single-testimonial-item text-center">
                        <div class="text-box">
                            <p>A lot of useful test question bank, it help me in exam preparation and self evaluation. Thanks BEST for provide this platform.</p>
                        </div>
                        <div class="img-box">
                            <img src="{% static 'images/testimonial/navya.jpg' %}" alt="Client Photo">    
                        </div>
                        <div class="title-box text-center">
                            <h4>Navya Sri, 7th Class</h4>
                        </div>
                    </div>
                    <!--End single testimonial item-->
                    <!--Start single testimonial item-->
                    <div class="single-testimonial-item text-center">
                        <div class="text-box">
                            <p>“This program provides benefits for higher education to those students who wish to get aid in their higher studies.”</p>
                        </div>
                        <div class="img-box">
                            <img src="{% static 'images/hari.png' %}" alt="Client Photo">    
                        </div>
                        <div class="title-box text-center">
                            <h4>Harinath, Maths Teacher</h4>
                        </div>
                    </div>
                    <!--End single testimonial item-->
                    <!--Start single testimonial item-->
                    <div class="single-testimonial-item text-center">
                        <div class="text-box">
                            <p>This scholarship isn't just supplying me with money for an education. It's supplying me with the opportunity to have a successful future.</p>
                        </div>
                        <div class="img-box">
                            <img src="{% static 'images/testimonial/1.png' %}" alt="Client Photo">    
                        </div>
                        <div class="title-box text-center">
                            <h4>Prashanthi K, Student</h4>
                        </div>
                    </div>
                    <!--End single testimonial item-->
                    <!--Start single testimonial item-->
                    <div class="single-testimonial-item text-center">
                        <div class="text-box">
                            <p>“You can create your own space in the competetive world by participating in BEST”</p>
                        </div>
                        <div class="img-box">
                            <img src="{% static 'images/testimonial/2.png' %}" alt="Client Photo">    
                        </div>
                        <div class="title-box text-center">
                            <h4>Rajmarry, Teacher</h4>
                        </div>
                    </div>
                    <!--End single testimonial item-->
                    <!--Start single testimonial item-->
                    <div class="single-testimonial-item text-center">
                        <div class="text-box">
                            <p>Thank you! This scholarship not only helps me continue my studies, but also inspires me to work harder.</p>
                        </div>
                        <div class="img-box">
                            <img src="{% static 'images/testimonial/1.png' %}" alt="Client Photo">    
                        </div>
                        <div class="title-box text-center">
                            <h4>Malleswari R, Student</h4>
                        </div>
                    </div>
                    <!--End single testimonial item-->
                    <!--Start single testimonial item-->
                    <div class="single-testimonial-item text-center">
                        <div class="text-box">
                            <p>“BEST is one of the best platform for organizing exams. I like it's concept and features. the features are easy to use.”</p>
                        </div>
                        <div class="img-box">
                            <img src="{% static 'images/testimonial/2.png' %}" alt="Client Photo">    
                        </div>
                        <div class="title-box text-center">
                            <h4>Madhusudhan, Teacher</h4>
                        </div>
                    </div>
                    <!--End single testimonial item-->
                    <!--Start single testimonial item-->
                    <div class="single-testimonial-item text-center">
                        <div class="text-box">
                            <p>BEST is a great tool to host online exams. Its intuitive and easy to use. Its fun to conduct exams on BEST.</p>
                        </div>
                        <div class="img-box">
                            <img src="{% static 'images/testimonial/tirumala.jpg' %}" alt="Client Photo">    
                        </div>
                        <div class="title-box text-center">
                            <h4>Tirumala Naik, 10th class</h4>
                        </div>
                    </div>
                    <!--End single testimonial item-->
                    <!--Start single testimonial item-->
                    <div class="single-testimonial-item text-center">
                        <div class="text-box">
                            <p>“BEST is  multiple choice exam conducted online that offers students a wonderful opportunity for competing at the national level.”</p>
                        </div>
                        <div class="img-box">
                            <img src="{% static 'images/testimonial/2.png' %}" alt="Client Photo">    
                        </div>
                        <div class="title-box text-center">
                            <h4>Madhuravani, Teacher</h4>
                        </div>
                    </div>
                    <!--End single testimonial item-->
                    <!--Start single testimonial item-->
                    <div class="single-testimonial-item text-center">
                        <div class="text-box">
                            <p>“BEST is a nationwide scholarship test program aimed at offering financial support to students for their education to promote their better growth.”</p>
                        </div>
                        <div class="img-box">
                            <img src="{% static 'images/testimonial/2.png' %}" alt="Client Photo">    
                        </div>
                        <div class="title-box text-center">
                            <h4>Deepa S, Student</h4>
                        </div>
                    </div>
                    <!--End single testimonial item-->
                    <!--Start single testimonial item-->
                    <div class="single-testimonial-item text-center">
                        <div class="text-box">
                            <p>BEST is one of the best platform for organizing exams. I like it's concept and features. the features are easy to use.</p>
                        </div>
                        <div class="img-box">
                            <img src="{% static 'images/testimonial/1.png' %}" alt="Client Photo">    
                        </div>
                        <div class="title-box text-center">
                            <h4>Sivakoteswara Rao, Teacher</h4>
                        </div>
                    </div>
                    <!--End single testimonial item-->
                    <!--Start single testimonial item-->
                    <div class="single-testimonial-item text-center">
                        <div class="text-box">
                            <p>“It can be useful to develop a mental checklist of strategies to solve logical reasoning questions in BEST”</p>
                        </div>
                        <div class="img-box">
                            <img src="{% static 'images/testimonial/2.png' %}" alt="Client Photo">    
                        </div>
                        <div class="title-box text-center">
                            <h4>Srikar, Teacher</h4>
                        </div>
                    </div>
                    <!--End single testimonial item-->
                </div>
            </div>
        </div>
    </div>
</section>                                                                                       
<!--End testimonial area-->  
 
<!--Start slogan area-->
<section class="slogan-area" style="background-image:url({% static 'images/resources/slogan-bg.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content text-center wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <h1>A great place to grow up <br> students improvement.</h1>
                    <!--<p>We promised that helping your child develop and learn through fun and creativity.</p>-->
                    <p></p>
                    <a class="thm-btn bgclr-1" href="/contact" style="color:#640606;">Get in Touch</a>
                </div>
            </div>
        </div>
    </div>
</section>  

{% endblock %}