{% extends 'best/base.html' %}
{% load staticfiles %}
{% block body_block %}
<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url({% static 'images/resources/breadcrumb-bg.jpg' %});">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>PRIVACY POLICIES</h1>
	            </div>
	        </div>
	    </div>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->     
<section class="breadcrumb-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="left pull-left">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li class="active">Privacy Policies</li>
                    </ul>
                </div>
                <!--<div class="right pull-right">-->
                <!--    <a href="#">-->
                <!--        <span><i class="fa fa-share-alt" aria-hidden="true"></i>Share</span> -->
                <!--    </a>   -->
                <!--</div>    -->
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->
<section class="choosing-area">
    <div class="container">
        <div class="row" style="margin-left:2%;margin-right:2%;">
                <div class="sec-title text-center" style="margin-top:-4%;">
                    <h3>Privacy Policies</h3>
                    <span class="border mar0auto"></span>
                </div>
                <div style="color:#000000;text-align:justify;">
                    <h4 style="margin-bottom:2%;">Effective date: September 20, 2019</h4>
                    <ul>
                        <li style="list-style: square !important;">BEST ("us", "we", or "our") operates the www.ibest.co.in website (hereinafter referred to as the "Service").</li>
                        <li style="list-style: square !important;">This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.</li>
                        <li style="list-style: square !important;">We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, the terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible from www.ibest.co.in</li>
                        <li style="list-style: square !important;">Information Collection and Use</li>
                        <ol>
                            <li style="list-style: square;">We collect several different types of information for various purposes to provide and improve our Service to you.</li>
                            <li style="list-style: square !important;">Types of Data Collected</li>
                            <ol>
                                <li style="list-style: square !important;">Personal Data</li>
                                <ol>
                                    <li style="list-style: square !important;">While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:</li>
                                    <ol>
                                        <li style="list-style: square !important;">Email address</li>
                                        <li style="list-style: square !important;">First name and last name</li>
                                        <li style="list-style: square !important;">Phone number</li>
                                        <li style="list-style: square !important;">Address, State, Province, ZIP/Postal code, City</li>
                                        <li style="list-style: square !important;">Cookies and Usage Data</li>
                                    </ol>
                                </ol>
                                <li style="list-style: square !important;">Usage Data</li>
                                <ol>
                                    <li style="list-style: square !important;">We may also collect information on how the Service is accessed and used ("Usage Data"). This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</li>
                                </ol>
                                <li style="list-style: square !important;">Tracking & Cookies Data</li>
                                <ol>
                                    <li style="list-style: square !important;">We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.</li>
                                    <li style="list-style: square !important;">Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.</li>
                                    <li style="list-style: square !important;">You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service. You can learn more how to manage cookies in the Browser Cookies Guide.</li>
                                    <li style="list-style: square !important;">Examples of Cookies we use:</li>
                                    <ol>
                                        <li style="list-style: square !important;">Session Cookies. We use Session Cookies to operate our Service.</li>
                                        <li style="list-style: square !important;">Preference Cookies. We use Preference Cookies to remember your preferences and various settings.</li>
                                        <li style="list-style: square !important;">Security Cookies. We use Security Cookies for security purposes.</li>
                                    </ol>
                                </ol>
                                <li style="list-style: square !important;">Use of Data</li>
                                <ol>
                                    <li style="list-style: square !important;">BEST uses the collected data for various purposes:</li>
                                    <ol>
                                        <li style="list-style: square !important;">To provide and maintain the Service</li>
                                        <li style="list-style: square !important;">To notify you about changes to our Service</li>
                                        <li style="list-style: square !important;">To allow you to participate in interactive features of our Service when you choose to do so</li>
                                        <li style="list-style: square !important;">To provide customer care and support</li>
                                        <li style="list-style: square !important;">To provide analysis or valuable information so that we can improve the Service</li>
                                        <li style="list-style: square !important;">To monitor the usage of the Service</li>
                                        <li style="list-style: square !important;">To detect, prevent and address technical issues</li>
                                    </ol>
                                </ol>
                                <li style="list-style: square !important;">Transfer of Data</li>
                                <ol>
                                    <li style="list-style: square !important;">Your information, including Personal Data, may not be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</li>
                                    <li style="list-style: square !important;">If you are located outside India and choose to provide information to us, please note that we won’t transfer the data, including Personal Data, to India and process it there.</li>
                                    <li style="list-style: square !important;">Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</li>
                                    <li style="list-style: square !important;">BEST will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.</li>
                                </ol>
                                <li style="list-style: square !important;">Disclosure of Data</li>
                                <ol>
                                    <li style="list-style: square !important;">Legal Requirements</li>
                                    <ol>
                                        <li style="list-style:square;">BEST may disclose your Personal Data in the good faith belief that such action is necessary to:</li>
                                        <ol>
                                            <li style="list-style:square;">To comply with a legal obligation</li>
                                            <li style="list-style:square;">To protect and defend the rights or property of BEST</li>
                                            <li style="list-style:square;">To prevent or investigate possible wrongdoing in connection with the Service</li>
                                            <li style="list-style:square;">To protect the personal safety of users of the Service or the public</li>
                                            <li style="list-style:square;">To protect against legal liability</li>
                                        </ol>
                                    </ol>
                                </ol>
                                <li style="list-style:square;">Security of Data</li>
                                <ol>
                                    <li style="list-style:square;">The security of your data is important to us, but remembers that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</li>
                                </ol>
                            </ol>
                        </ol>
                        <li style="list-style:square;">Changes to This Privacy Policy</li>
                        <ol>
                            <li style="list-style:square;">We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</li>
                            <li style="list-style:square;">We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the "effective date" at the top of this Privacy Policy.</li>
                            <li style="list-style:square;">You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</li>
                        </ol>
                        <li style="list-style:square;">Contact Us</li>
                        <ol>
                            <li style="list-style:square;">If you have any questions about this Privacy Policy, please contact us by <mark>email: support@ibest.co.in</mark></li>
                        </ol>
                    </ul>
                </div>
            </div>
        <!--</div>-->
    </div>
</section>

<!--Start Brand area-->  
<section class="brand-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title text-center">
                    <h1>Our Partners</h1>   
                    <span class="border mar0auto"></span>
                </div>
                <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12" style="text-align:center;margin-top:3%;">
                    <h5 style="margin-bottom:5%;">Organised By</h5>
                    <img src="{% static 'images/brand/aviralogo.png' %}" alt="Awesome Brand Image" style="margin-top:-10%;">
                </div>
                <div class="col-md-6 col-xs-12 col-lg-6 col-sm-12" style="margin-top:1%;">
                    <h5 class="partner" style="text-align:center;margin-bottom:5%;">Technical Partner</h5>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                        <img src="{% static 'images/brand/pnv.png' %}" alt="Awesome Brand Image">
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                        <img src="{% static 'images/brand/wz.jpg' %}" alt="Awesome Brand Image" style="width:80%;">
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12" style="text-align:center; margin-top:3%;">
                    <h5 style="margin-bottom:5%;">Event By</h5>
                    <img src="{% static 'images/brand/dmc.png' %}" alt="Awesome Brand Image" style="width:50%;">
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Brand area--> 
{% endblock %}