{% extends 'best/base.html' %}
{% load staticfiles %}
{% block body_block %}
<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url({% static 'images/resources/breadcrumb-bg.jpg' %});">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>Terms & Conditions</h1>
	            </div>
	        </div>
	    </div>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->     
<section class="breadcrumb-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="left pull-left">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li class="active">Terms & Conditions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->
<section class="choosing-area">
    <div class="container">
        <div class="row" style="margin-left:2%;margin-right:2%;">
                <div class="sec-title text-center" style="margin-top:-4%;">
                    <h3>Terms & Conditions</h3>
                    <span class="border mar0auto"></span>
                </div>
                <div style="color:#000000;text-align:justify;">
                    <ul>
                        <li style="list-style: square !important;">BEST is an online scholarship Exam conducted by Avira Foundation in order to bring out hidden talents.</li>
                        <li style="list-style: square !important;">All Indian National Students with any board (ICSE/CBSE/Respective State Board) of 6th to 10th class are ELIGIBLE to this scholarship test.</li>
                        <li style="list-style: square !important;">There are two types of registrations, online and offline.
                        <li style="list-style: square !important;">For OFFLINE REGISTRATION visit www.ibest.co.in and download offline application. Fill all the fields and attach required documents and send to office address.We are not responsible for any postal or courier DELAYS.</li>
                        <li style="list-style: square !important;">We are NOT RESPONSIBLE for missing application in offline mode.</li>
                        <li style="list-style: square !important;">If there are any missing fields in application and the documents are missed, application will be rejected and send back to your address(For offline, DD charges and postal charges will be paid by you).</li>
                        <li style="list-style: square !important;">In ONLINE REGISTRATION, fill all fields without mistakes and pay the fee within due time.</li>
                        <li style="list-style: square !important;">User ID and Password will be send to your registered mail ID.These will help you to LOGIN into student portal.</li>
                        <li style="list-style: square !important;">After the registration a choice will be given to the participants to answer the mock tests ought before the exam.</li>
                        <li style="list-style: square !important;">Exam mode is ONLINE only. It has to write in allocated time i.e., 90minutes.</li>
                        <li style="list-style: square !important;">There will be a fixed time for each question</li>
                        <li style="list-style: square !important;">We will not be responsible if there is a system error or power failure at the time of the examination. The candidates must be careful (Internet Cafe or any other place with proper internet and power supply).</li>
                        <li style="list-style: square !important;">Students must complete the 120-question multiple-choice exam within the 90-minute time frame allotted for the exam.</li>
                        <li style="list-style: square !important;">Students must not stop the session and then return to it. This is especially important in the online environment where the system will "time-out" and not allow the student or you to reenter the exam site.</li>
                        <li style="list-style: square !important;">Logical reasoning and mathematics are taken into consideration for results (If, the candidates get same score).</li>
                        <li style="list-style: square !important;">In any case, fee is NON REFUNDABLE.</li>
                        <li style="list-style: square !important;">DD or cheque should be taken in favour of Bharat Excellence Scholarship Test which is payable at Madhapur, Hyderabad.</li>
                        <li style="list-style: square !important;">If there is any cancellation of DD or cheque, charges will be paid by the candidate only.</li>
                        <li style="list-style: square !important;">All legal proceedings are subjected to the jurisdiction of Rangareddy court only.</li>
                    </ul>
                    <h5 style="margin-top:2%;margin-bottom:2%;"><u>Prize Declaration Terms & Conditions:</u></h5>
                    <ul>
                        <li style="list-style: square !important;">The prize winners will be declared on the basis of highest marks with less submission time.</li>
                        <li style="list-style: square !important;">If more than one student got same marks and same submission time, then Logical Reasoning marks and submission time will be taken into consideration, for suppose the students got same marks in Logical Reasoning also then we will consider Mathematics marks and submission time into consideration.</li>
                        <li style="list-style: square !important;">If more than one students got the same marks and submission time (After Considering Logical Reasoning and Mathematics), we will consider Age of the student , who ever age is low we will announce as the winner</li>
                        <li style="list-style: square !important;">For mega prize Rs. 2lakhs (For Overall exam topper) we will consider the Main test (Highest Marks & Lowest Submission Time).</li> 
                        <li style="list-style: square !important;">If more than one student got the same marks and submission time, then we will consider mock test marks and submission time into consideration and we will announce the winner.</li>
                        <li style="list-style: square !important;">The terms & conditions may vary on the basis of Test results.</li>
                        <li style="list-style: square !important;">For more information about the Scholarship (Prizes) you can contact us on support@ibest.co.in</li>
                    </ul>
                </div>
            </div>
        <!--</div>-->
    </div>
</section>

<!--Start Brand area-->  
<section class="brand-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title text-center">
                    <h1>Our Partners</h1>   
                    <span class="border mar0auto"></span>
                </div>
                <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12" style="text-align:center;margin-top:3%;">
                    <h5 style="margin-bottom:5%;">Organised By</h5>
                    <img src="{% static 'images/brand/aviralogo.png' %}" alt="Awesome Brand Image" style="margin-top:-10%;">
                </div>
                <div class="col-md-6 col-xs-12 col-lg-6 col-sm-12" style="margin-top:1%;">
                    <h5 class="partner" style="text-align:center;margin-bottom:5%;">Technical Partner</h5>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                        <img src="{% static 'images/brand/pnv.png' %}" alt="Awesome Brand Image">
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                        <img src="{% static 'images/brand/wz.jpg' %}" alt="Awesome Brand Image" style="width:80%;">
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12" style="text-align:center; margin-top:3%;">
                    <h5 style="margin-bottom:5%;">Event By</h5>
                    <img src="{% static 'images/brand/dmc.png' %}" alt="Awesome Brand Image" style="width:50%;">
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Brand area--> 
{% endblock %}