{% extends 'best/base.html' %}
{% load staticfiles %}
{% block body_block %}
<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url({% static 'images/resources/breadcrumb-bg.jpg' %});">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>UPDATES</h1>
	            </div>
	        </div>
	    </div>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->     
<section class="breadcrumb-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="left pull-left">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li class="active">Updates</li>
                    </ul>
                </div>
                <!--<div class="right pull-right">-->
                <!--    <a href="#">-->
                <!--        <span><i class="fa fa-share-alt" aria-hidden="true"></i>Share</span> -->
                <!--    </a>   -->
                <!--</div>    -->
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->
<section class="welcome-area">
    <div class="container">
        <div>
            <marquee style="font-size:20px;color:#ffffff;background-color:#000000;padding:10px;">From next academic year onwards we are going to conduct online scholarship test for INTERMEDIATE, GRADUATE and CA-CPT STUDENTS.</marquee>
            <div class="sec-title text-center" style="padding-top:2%;">
                <!--<p class="top">Testimonials</p>-->
                <h1>Latest Updates</h1>   
                <span class="border mar0auto"></span>
            </div>
            <div class="row">
                <table class="table table-hover table-bordered table-responsive">
                    <thead style="background-color:#000000;color:#ffffff;">
                      <tr>
                        <th style="text-align:center;"><h4 style="color:#ffffff;">Registration Details</h4></th>
                      </tr>
                    </thead>
                    <tbody style="color:#000000;">
                      <tr>
                        <td>Registration <b>Fee</b> is Rs.499/-</td>
                      </tr>
                      <tr>
                        <td>Test will be <b>held</b> on 12th January of 2020.</td>
                      </tr>
                      <tr>
                        <td>Test will be <b>online</b> mode only.</td>
                      </tr>
                       <tr>
                        <td>There will be <b>two mock tests</b> before the Test.</td>
                      </tr>
                       <tr>
                        <td>Students can take test either through <b>Application or Web</b>.</td>
                      </tr>
                       <tr>
                        <td>Registrations will be <b>closed</b> on 20th December of 2019</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <table class="table table-hover table-bordered table-responsive">
                    <thead style="background-color:#000000;color:#ffffff;">
                      <tr>
                        <th style="text-align:center;"><h4 style="color:#ffffff;">Who Can Apply</h4></th>
                      </tr>
                    </thead>
                    <tbody style="color:#000000;">
                      <tr>
                        <td>Students from 6th to 10th Class throughout INDIA can apply.</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <table class="table table-hover table-bordered table-responsive">
                    <thead style="background-color:#000000;color:#ffffff;">
                      <tr>
                        <th style="text-align:center;"><h4 style="color:#ffffff;">Syllabus</h4></th>
                      </tr>
                    </thead>
                    <tbody style="color:#000000;">
                      <tr>
                        <td>Syllabus is based on your subjects English, Maths and Science(Physics and Biology).</td>
                      </tr>
                       <tr>
                        <td>And also Logical Reasoning and General Knowledge</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <table class="table table-hover table-bordered table-responsive">
                    <thead style="background-color:#000000;color:#ffffff;">
                      <tr>
                        <th style="text-align:center;"><h4 style="color:#ffffff;">Terms and Conditions</h4></th>
                      </tr>
                    </thead>
                    <tbody style="color:#000000;">
                      <tr>
                        <td>BEST is an <b>online scholarship Exam</b> conducted by <b>Avira Foundation</b> in order to bring out hidden talents.</td>
                      </tr>
                      <tr>
                        <td>All Indian National Students with any board (ICSE/CBSE/Respective State Board) of 6th to 10th class are <b>ELIGIBLE</b> to this scholarship test.</td>
                      </tr>
                      <tr>
                        <td>There are two types of <b>registrations</b>, online and offline.</td>
                      </tr>
                       <tr>
                        <td>For <b>OFFLINE REGISTRATION</b> visit <a href="www.ibest.co.in">www.ibest.co.in </a> and download offline application. Fill all the fields and attach required documents and send to office address.<b>We are not responsible for any postal or courier DELAYS.</b></td>
                      </tr>
                       <tr>
                        <td>We are <b>NOT RESPONSIBLE</b> for missing application in offline mode.</td>
                      </tr>
                       <tr>
                        <td>If there are any missing fields in application and the documents are missed, application will be <b>rejected</b> and send back to your address(For offline, DD charges and postal charges will be paid by you).</td>
                      </tr>
                       <tr>
                        <td>In <b>ONLINE REGISTRATION</b>, fill all fields without mistakes and pay the fee within due time.</td>
                      </tr>
                      <tr>
                        <td> User ID and Password will be send to your registered mail ID.These will help you to <b>LOGIN</b> into student portal.</td>
                      </tr>
                      <tr>
                        <td>After the registration a choice will be given to the participants to answer the <b>mock tests</b> ought before the exam. </td>
                      </tr>
                      <tr>
                        <td>Exam mode is <b>ONLINE</b> only. It has to write in allocated time i.e., 90minutes.</td>
                      </tr>
                       <tr>
                        <td>There will be a <b>fixed time</b> for each question</td>
                      </tr>
                       <tr>
                        <td>We will not be responsible if there is a system error or power failure at the time of the examination. The candidates must be <b>careful</b> (Internet Cafe or any other place with proper internet and power supply).</td>
                      </tr>
                       <tr>
                        <td>Students must complete the 120-question multiple-choice exam within the <b>90-minute</b> time frame allotted for the exam.</td>
                      </tr>
                      <tr>
                        <td>Students must <b>not stop the session</b> and then return to it. This is especially important in the online environment where the system will "time-out" and not allow the student or you to reenter the exam site.</td>
                      </tr>
                      <tr>
                        <td>Logical reasoning and mathematics are taken into consideration for <b>results</b> (If, the candidates get same score).</td>
                      </tr>
                       <tr>
                        <td>In any case, fee is <b>NON REFUNDABLE</b>.</td>
                      </tr>
                       <tr>
                        <td><b>DD or cheque </b> should be taken in favour of Bharat Excellence Scholarship Test which is payable at Madhapur, Hyderabad.</td>
                      </tr>
                       <tr>
                        <td>If there is any <b>cancellation</b> of DD or cheque, charges will be paid by the candidate only.</td>
                      </tr>
                       <tr>
                        <td>All legal proceedings are subjected to the <b>jurisdiction</b> of Rangareddy court only.</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}